.nav ul{
	border-bottom: 1px solid #333;
}
.label{
	margin: 0 auto;
	width:1360px;
	height:70px;
	line-height: 70px;
	font-size: 13px;
}
.label a{
	padding-left: 6px;
}
.label span{
	padding-left: 6px;
}
.banner{
	width:1360px;
	margin:0 auto;
	position: relative;
    z-index: -9;
}
/* class */
.class{
	width:1360px;
	padding:14px 0 28px;
	margin-top: 40px;
	margin:0 auto;
	text-align: center;
	border-bottom: 1px solid #999;
}
.class span{
	    margin: 0 12px 0 18px;
		font-size: 14px;
        color: #666;
}
.class a{
	font-size: 14px;
	margin-right: 56px;
}
.class a:nth-of-type(1){
	color: #c57d5c;
}
/* fans_list */
.fans_list{
	width:1394px;
	overflow: hidden;
    padding-bottom: 96px;
	position: relative;
	left: 50%;
	margin-left: -714px;
}

.fans_list li{
	position: relative;
    float: left;
    width: 663px;
    height: 376px;
    margin-top: 34px;
    margin-left: 34px;
}
.box_txt{
	position: absolute;
    width: 100%;
    height: 138px;
    left: 0;
    bottom: 0;
    z-index: 9;
    text-align: center;
    color: #fff;
}
.touming{
	position: absolute;
    background: #000;
    opacity: .5;
    width: 100%;
    height: 138px;
    left: 0;
    bottom: 0;
    z-index: -1;
}
.box_txt h3{
	padding-top: 36px;
	font-size: 22px;
	font-weight: 400;
	color:#fff;
}
.txt_hr{
	width: 20px;
    border-bottom: 1px solid #fff;
    margin: 18px auto 12px;
}
.box_txt p{
	font-size: 15px;
}
.fans_list li:hover .box_txt{
	color:rgb(249,204,157);
}
.fans_list li:hover h3{
	color:rgb(249,204,157);
}
.fans_list li:hover .txt_hr{
	 border-bottom: 1px solid #d1b6aa;
}
/* topage */
.topage{
	width:1360px;
	font-size: 0;
	padding: 12px 0 28px;
	margin:0 auto;
	text-align: center;
}
.topage a{
	color: #656d78;
	display: inline-block;
	border-radius: 4px 0 0 4px;
	border: 1px solid #e6e9ed;
	line-height: 30px;
	font-size: 12px;
}
.topage .btn{
	width: 60px;
	height:30px;
}
.topage .page_first{
	    width: 28px;
	    background: #8b766c;
        color: #fff;
}
.page_two{
	width: 28px;
}
.topage span{
	font-size: 12px;
	color:#656d78;
	margin-left: 8px;
	display: inline-block;
}