.starMain{
	width: 1360px;
	margin: 0 auto;
	margin-top: 40px;
	text-align: center;
}

.biaoti h3{
	font-size: 30px;
	color: #4d3a33;
	font-weight: 400;
}
.biaoti p{
	font-size: 16px;
	margin-top: 28px;
	color: #222;
}
.starMain img{
	height: 430px;
	width: 400px;
}
.starMain ul{
	margin-top: 50px;
}
.aaa::after{
	content: '';
	display: block;
	clear: both;
}
.starMain li{
	float: left;
}
.starMain a{
	display: inline-block;
	/* float: left; */
	width: 400px;
	height: 540px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	margin-bottom: 40px;
}
.starMain li h3{
	padding: 0 10px;
	margin-top: 30px;
	font-size: 18px;
	color: #222;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	font-weight:400 ;
}
.starMain li p{
	font-size: 14px;
	color: #888;
	margin-top: 10px;
}
.starMain li:nth-child(3n-1){
	margin: 0 80px;
}

